<!DOCTYPE html>
<html>
	<head>
		<title>Risultato nullo </title>
	</head>
	<body style="text-align:center;background-color:blue">
	    
	
		<div style="margin-top:280px">
			<img style="border:10px solid black" class="foto_no_risultato" src="https://ufficio80.it/img80/ops2.png" alt="Image nessun risultato idoneo">
		
			<div style="color:red;font-size:20px;margin-top:10px;margin-bottom:10px" class = "testo_no_risultato"> <h1>NESSUN PROGRAMMA TELEVISIVO TROVATO </h1> </div>
			
		</div>
	
	
		<div class = "pagina_precedente">
			<form  method="GET">
				<input style="font-size:20px" type="submit" value="INDIETRO" />
			</form>
		</div>
	
	     
	 
	</body>
</html>