#jstext {
	text-align: center;
   	font-size: 90px;
}

p{
	background-color: white
}

.informazione{
	font-weight:bold;
	font-size:30px;
	margin-top:15px
}

.contenuto{
	font-size:25px;
	color:#2271B3
}

.allinea{
	float:left;
	margin-left:10px;
	margin-bottom:10px;
	margin-right:10px;
	margin-top:10px;
	background-color:gray;
	width:250px;
	height:750px
}

.informazione1{
	font-weight:bold;
	font-size:15px;
	margin-top:15px
}

.contenuto1{
	font-size:15px;
	color:white
}